
@{
    ViewBag.Title = "ExampleonPartialView";
}

<h2>ExampleonPartialView</h2>

<h1>Student Names whose name start with A and S</h1>

<ul>
    <li>Akshay</li>
    <li>smiriti</li>
    <li>srinivas</li>
    <li>sarita</li>
    <li>sayali</li>
    <li>Arvind</li>
    <li>suresh</li>
    <li>Eshuta</li>
</ul>

@Html.Partial("_MyPartialView")
